.popupMessages {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popupMessage {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .message {
    flex: 1;
    height: auto;
    margin: auto 0;
    color: #333;
  }
  
  .dismiss-btn {
    background-color: #FF0000;
    margin: 0 1rem;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dismiss-btn:hover {
    background-color: #690909;
  }
  